{% extends "base1.html" %}
{% block content %}
<div style="height:10px"></div>
<div class="portlet-body">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th> 客户端</th>
                                <th> 类型</th>
                                <th> 最近备份时间</th>
                                <th> 备份状态</th>
                                <th> 辅助拷贝状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in whole_list %}
                            {% for agent in client.agent_job_list %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                <td rowspan="{{ client.agent_length }}" style="vertical-align:middle"> {{ forloop.parentloop.counter }}</td>
                                <td rowspan="{{ client.agent_length }}" style="vertical-align:middle"> {{ agent.client_name }}</td>
                                {% endif %}
                                <td> {{ agent.agent_type_name }}</td>
                                <td> {{ agent.job_start_time }}</td>
                                <td>
                                    <span class="label label-sm {{ agent.status_label }}"> {{ agent.job_backup_status }} </span>
                                </td>
                                <td>
                                    <span class="label label-sm {% if agent.aux_copy_info %}label-success{% endif %}"> {{ agent.aux_copy_info }} </span>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block script %}
<script>
</script>
<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.quicksearch.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
{% endblock %}